# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.  Python
2.  R
3.  SQL


**Objectives:**

List popular languages for Data Science
*   python
*   R
*   SQL

Some of the commonly used libraries used by Data Scientists include:


1.  Pandas
2.  Numpy
3.  Matplotlib

| Data Science Tools |
| :--- |
| Jupyter |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
def min_to_hour(min):
  hour = min/60
  return hour
min = 200
hour = min_to_hour(min)
hour

3.3333333333333335

## Author
Hsin Ting